- var siteRoot = '/' // Remember to change to '/' for live
- var siteTitle = 'Andy Orvis'
- var siteDesc = 'Front-end Developer & UX Designer'
- var siteLongDesc = siteDesc + ' based near Howden, East Yorkshire. Specialising in performance optimised, responsive websites.'
- var siteUrl = 'http://andyorvis.co.uk'
- var siteEmail = '&#109;&#101;&#064;&#097;&#110;&#100;&#121;&#111;&#114;&#118;&#105;&#115;&#046;&#099;&#111;&#046;&#117;&#107;'
- var sitePhone = ''
- var googleAnalyticsID = 'UA-19882295-3'
- var googleFont = 'https://fonts.googleapis.com/css?family=Noto+Serif|Montserrat:400,700'
- var twitterUrl = 'https://twitter.com/aorv'
- var instagramUrl = 'https://www.instagram.com/aorv/'
- var linkedinUrl = 'https://www.linkedin.com/in/andyorvis/'
- var imgLoc = siteRoot + 'assets/img/'
- var siteCSS = siteRoot + 'assets/css/main.min.css'
- var criticalCSS = siteRoot + 'assets/css/critical.css'
- var siteJS = siteRoot + 'assets/js/main.min.js'
- var vendorJsSrc = siteRoot + 'assets/js/vendor/vendor.min.js'

