.contact.js-contact-form
  span.js-panel-trigger.contact__close: i.ion-android-close
  .contact__inner
    h2.page-title--sup Contact Me
    .page-title.js-my-email !{siteEmail}
    .form
      .form__section
        label.form__label Your Name<br>
        input.form__input.js-name(placeholder="Kahl Drogo")
      .form__section
        label.form__label Your Email<br>
        input.form__input.js-from(placeholder="Kahl.Drogo@dothraki.horde")
      .form__section
        label.form__label Subject<br>
        select.form__input.js-subject.form__input--select
          option(value="Andy, I'd like to talk to you about conquering Westeros") Conquering Westeros
          option(value="Andy, I have a general enquiry") General enquiry
          option(value="Andy, I've got a great project idea") Project idea
          option(value="Andy, I like your style - lets talk") Hire me

    span.build-mail.js-build-email: i.ion-paper-airplane
  .contact__overlay
