mixin navLink(link, name)
  li.main-nav__item
    a(
      href=link
      class={active: name === currentPage}
    ).js-panel-trigger #{name} #{extraClass}

nav.main-nav
  ul
   +navLink(siteRoot, 'Contact')

