mixin project(role, title, subtitle, link)
  .latest-work.js-anim-trigger.s1
    .s1-2.project
      h2.project__title--sup= role
      h2.project__title= title
      h3.project__title--pre= subtitle
      if block
        block
      else
        p Decription coming soon&hellip;
      p: a(href='http://' + link).body-link= link
    .s1-2
      img(src=imgLoc + 'macbook-' + title.replace(/\s+/g, '-').toLowerCase() + '.png', alt=title + ' website on Laptop').project__img

+project('Co-founder & Front-end Developer', 'Pitchy', 'The Campsite Search Engine', 'www.pitchy.co.uk')
  p Designed and built by myself and fellow front-end dev <a class="body-link" href="http://nathgreen.co.uk/">Nathan Green</a> in 2017. Pitchy was created to be THE go-to website for people looking for great places to go camping. Pitchy is in process of having some major updates with more marketing, a blog and new features planned for 2018.
  p The website is a fully responsive app that utilises the google maps API for searching and placing campsite locations. The customer section of the site is built using a bespoke CMS and has a fully integrated payment system powered by Stripe &copy;.

+project('Front-end Developer', 'Fountain', 'A creative design duo based in Yorkshire', 'www.wearefountain.com')
  p A digital agency founded by myself and <a class="body-link" href="http://www.davidadamjones.co.uk/">David Jones</a>. Based across the north of England in Yorkshire and Greater Manchester. With over 15 years combined industry experience, we specialise in creating design solutions for digital, branding and print.