include ../includes/config

doctype html
html(lang="en-GB")
  include ../includes/head

  body(class=bodyClass)
    header.header
      .s1
        .s1-2
          a(href=siteRoot).logo: img(src=imgLoc + 'logo.svg', width='130')
        .s1-2
          include ../includes/nav
    .hero-container
      .hero-container__gradient
        .hero-section.js-anim-trigger
          .hero-section__intro
            h1.page-title--sup #{siteDesc}
            h1.tac: img(src=imgLoc + 'logo.svg', width="700", alt=siteTitle).hero-logo
          .hero-section__arrow
            i.ion-chevron-down

    block content
      h1.page-title #{currentPage}

    include ../includes/contact-form
    include ../includes/footer