.contact
  color text-color
  position fixed
  z-index 100
  top 2vw
  bottom 2vw
  left 2vw
  right 2vw
  opacity 0
  transform translate(0, 100%)
  background white
  box-shadow 2px 2px 2px rgba(0,0,0,0.2)
  smooth-transition()
  &__inner
    position relative
    z-index 200
    background white
    padding 20px
    height 100%
    display flex
    flex-direction column
    align-items center
    justify-content center
  &__close
    position relative
    z-index 300
    font-size base-font-size + 12
    top 20px
    right 30px
    position absolute
    cursor pointer
    smooth-transition()
    &:hover
      color brand-color
      transform rotate(-90deg)
  &.animate
    opacity 1
    transform translate(0, 0)
  @media mobile
    .page-title
      font-size 30px
    top 15px
    bottom 15px
    left 15px
    right 15px
  &__overlay
    content ''
    background black
    position fixed
    top -2vw
    left -2vw
    width 100vw
    height 100vh
    z-index 20
    background site-background
    background-size 150% 100%
    opacity 0
    .animate &
      smooth-transition()
      transition-delay .8s
      opacity 1

.form
  margin 40px 0
  display flex
  width 80vw
  @media mobile
    flex-direction column
    margin 0
  &__section
    flex-grow 1
    padding-top 20px
  &__label
    color lighten(text-color, 45%)
    font-size base-font-size
    font-weight base-font-weight
    text-transform uppercase
    width 95%
    margin 0 2.5%
  &__input
    width 95%
    margin 10px 2.5% 0
    padding 15px
    border-radius 3px
    border 1px solid lighten(text-color, 70%)
    position relative
    &.error
      border-color red
      &::after
        content 'hello'
    &--select
      height 56px

.error-msg
  color red
  margin 0 2.5%

.build-mail
  font-size base-font-size + 50
  color brand-color
  font-weight base-font-weight
  text-transform uppercase
  display flex
  smooth-transition()
  &:hover
    color link-hover
    cursor pointer
    i
      smooth-transition()
      color link-hover
      transform rotate(360deg)
  i
    margin-top 22px
    margin-right 10px
    margin-left 10px
    display inline-block
