@import 'variables'
@import 'jeet'
@import 'nib'

body {
  position: relative
  margin: 0
  padding: 0
  min-height: 100vh
  overflow-x: hidden
}

.header {
  opacity: 0
  position: fixed
}

.hero-container {
  height: 100vh
  position: relative
  background-position: center
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat

  @media mobile {
    background-attachment: scroll
  }

  &__gradient {
    background: site-background
    background-size: 150% 100%
    height: 100%
    padding: site-gutter
  }

  &.show-bg { background-image: url(img-loc + 'main-bk-opti.jpg') }
}

.hero-section {
  opacity: 0
}

.contact {
  opacity: 0
}

footer {

  &.show-bg { background-image: url(img-loc + 'main-bk-opti.jpg') }
}
