*
  box-sizing border-box

html
  width 100%
  overflow-x hidden

body
  width 100%
  color text-color
  position relative
  font-family primary-font
  font-size base-font-size
  font-weight base-font-weight
  line-height base-line-height
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  &.no-scroll
    overflow hidden
    @media mobile
      height 100vh
      width 100vw

header
  background header-background
  background-size 150% 100%
  position fixed
  top 0
  left 0
  padding 10px site-gutter 5px
  width 100%
  z-index 1
  opacity 0
  transform translate(0, -100px)
  box-shadow 2px 2px 1px rgba(0,0,0,0.1)
  smooth-transition()
  &.animate
    transform translate(0, 0)
    opacity 1
  @media mobile
    padding 15px 15px 7px

.wrapper
  center(site-width, site-gutter)
  img
    max-width 100%

.section
  margin 200px 0 100px
  padding 100px 0
  center(80vw)
  @media mobile
    margin-bottom 50px

h2
  font-weight 400
  font-size base-font-size *2

a
  color link-color
  text-decoration none
  &:hover
    color link-hover

.body-link
  color text-color
  transition all ease .2s
  border-bottom 1px solid text-color
  &:hover
    color brand-color
    border-color brand-color

p
  margin-top 0
  margin-bottom 30px

img
  -webkit-backface-visibility hidden

.page-title
  font-size base-font-size *3
  font-family secondary-font
  font-weight 400
  text-align center
  margin-top 0
  margin-bottom site-gutter + 50
  line-height 1.2
  position relative
  letter-spacing -1px
  &--intro
    font-size base-font-size *2
    line-height 1.4
    @media mobile
      font-size base-font-size + 9!important
  &--sup
    font-size base-font-size
    font-weight base-font-weight
    text-transform uppercase
    text-align center
    position relative
    margin-bottom site-gutter
    .hero-container &
      color white
    @media mobile
      margin-bottom site-gutter - 20
    &:after
      content ''
      position absolute
      width 0
      height 3px
      bottom -20px
      left 50%
      margin-left -25px
      background link-hover
      smooth-transition()
      .animate &
        transition-delay .7s
        width 50px
  .contact &
    margin-bottom 0
  @media mobile
    font-size base-font-size *2

.page-descrip
  text-align center

.hero-section
  height 100%
  opacity 0
  smooth-transition()
  img
    max-width 100%
  &__intro
    width 100%
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
  &__arrow
    color white
    position absolute
    bottom 0
    left 50%
    transform translate(-50%, 0)
  &.animate
    opacity 1
    transform translate(0, -10%)

.current-roles
  opacity 0
  transform translate(0, 0)
  smooth-transition()
  &.animate
    opacity 1
    transform translate(0, -20%)

.latest-work
  center(80vw)
  opacity 0
  margin-bottom 100px
  transform translate(0, 0)
  smooth-transition()
  &:last-of-type
    margin 0
  @media mobile
    margin-bottom 0
  &.animate
    opacity 1
    transform translate(0, -20%)

.hero-logo
  opacity .3

footer
  padding site-gutter - 20 site-gutter site-gutter - 20
  font-size base-font-size - 2
  .s1-2
    @media mobile
      stack()
  a
    @extends .body-link
    color brand-color
    font-size base-font-size
    margin-left 20px
    border none
    &:hover
      color link-hover
    &:first-child
      margin 0
  @media mobile
    text-align center!important
    font-size base-font-size

.copyright
  color lighten(text-color, 70%)

.alt-section
  background alt-background
  padding site-gutter
  margin-left - site-gutter

.img-holder
  display flex
  align-items center
  justify-content center
  height 100px
  @media mobile
    height 60px
    img
      height 40px

.project
  text-align left
  &__title
    color brand-color
    font-size base-font-size *5
    font-weight 700
    margin-top site-gutter
    margin-bottom site-gutter
    line-height 1.2
    letter-spacing -3px
    @media mobile
      font-size base-font-size *2.5
    &--sup
      // color brand-color
      font-size base-font-size
      font-weight base-font-weight
      text-transform uppercase
      position relative
      &:after
        content ''
        position absolute
        width 0
        height 3px
        bottom -20px
        left 0
        background link-hover
        smooth-transition()
        .animate &
          transition-delay .5s
          width 50px
    &--pre
      font-size base-font-size *1.5
      font-family secondary-font
      font-weight 400
      margin-top 0
      margin-bottom 20px
      line-height 1.2
      color brand-color
  &__img
    smooth-transition()
    opacity 0
    transform translate(20%, 0)
    .animate &
      transition-delay .7s
      opacity 1
      transform translate(0, 0)