nav
  ul
    list-style none
    margin 0
    padding 0

.main-nav
  text-align right
  // @media mobile
  padding-top 10px
  &__item
    display inline-block
    > a
      text-transform uppercase
      letter-spacing .1em
      font-size base-font-size - 2
      position relative
      display inline-block
      color white
      cursor pointer
      &:after
        content ''
        position absolute
        width 0px
        height 3px
        bottom -20px
        left 50%
        margin-left -25px
        background link-hover
        smooth-transition()
      &:hover
        color link-hover
        &:after
          width 50px
      @media mobile
        font-size base-font-size
