extends templates/layout

block head
  - var currentPage = "Error 404"
  - var bodyClass = currentPage.replace(/\s+/g, '-').toLowerCase()
  title #{currentPage} | #{siteTitle}

block content
  h1.page-title #{currentPage}
  p Sorry, the page you're looking for doesn't exist.
