extends templates/layout

block head
  - var currentPage = "Home"
  - var bodyClass = currentPage.toLowerCase()
  title #{siteTitle} | #{siteDesc}

block content
  .s1.tac.current-roles.section.js-anim-trigger
    h1.page-title.page-title--intro Front-end Developer &amp; UX Designer based near Howden, East Yorkshire.<br> Specialising in performance optimised, responsive websites.
    .s1-3
      h2.page-title--sup Senior UX Designer
      .img-holder
        img(src=imgLoc + 'logo-ebuyer.svg', width="300", alt="Ebuyer.com")
    .s1-3
      h2.page-title--sup Co-founder
      .img-holder
        a(href="https://www.pitchy.co.uk"): img(src=imgLoc + 'logo-pitchy.svg', width="250", alt="Pitchy")
    .s1-3
      h2.page-title--sup Front-end Developer
      .img-holder
        a(href="http://wearefountain.com"): img(src=imgLoc + 'logo-fntn.svg', width="130", alt="Fountain")

  include includes/projects



